/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ffffff;
}



/****************/
/* JOUW STYLING */
/****************/

/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#0003ff;
	--caroCarrouselShadeColor:#ddd9;

  position: relative;
	outline:none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	bottom: 0;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
	background-color: transparent; /* Verwijdert de achtergrondkleur */
	border: none; /* Zorgt ervoor dat er geen randen zijn */
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  color: white;
  text-decoration: none;
	font-size: 3em;
  transition: 0.5s;
  margin-bottom: 0.3em;
  
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  color: #0003ff;
}

















body {
    background-color: var(--color-background);
	padding: 0;
	margin: 0;
	font-family:sans-serif
}

header nav ul{
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	justify-content: space-between;
	list-style-type: none;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
	padding: 1em;
}

h3{
	font-family:sans-serif
}

p{
	font-family: Helvetica, sans-serif;
}

main ul p:nth-last-of-type(1){
	display: flex;
	justify-content: end;
}


main{
	padding-top: 5em;
}

main ul {
    list-style-type: none;
	padding: 32px 16px;
}

main ul li {
    background-color: var(--color-background);
}

li img {
	display: block;
    width: 100%;
}

/****************/
/* FOOTER STYLING */
/****************/

footer {
	background-color: #1b1b1b;;
}

footer ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		list-style-type: none;
		padding: 0;


}

footer ul li{
	padding: 3em;
	background-color: black;
	border: 1px solid #c4c5ba;
}
