/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--nav-background: white;
	--color-text: black;
	--color-kopjes: black;
	--body-background: white;
	--pijl-active: #0003ff;
	--pijl-nietactive: white;
	--footer-background: rgb(36, 36, 36);
	--footer-text: white;
	--headernav-filter: none;
}

body:has(input[value="dark"]:checked) {
	--nav-background: black;
	--color-text: white;
	--color-kopjes: white;
	--body-background: black;
	--pijl-active: #84ff00;
	--pijl-nietactive: white;
	--footer-background: rgb(18, 18, 18);
	--footer-text: white;
	--headernav-filter: invert(1);
}

body:has(input[value="summer"]:checked) {
	--nav-background: rgb(255, 89, 0);
	--color-text: white;
	--color-kopjes: white;
	--body-background: rgb(255, 89, 0);
	--pijl-active: rgb(255, 89, 0);
	--pijl-nietactive: white;
	--footer-background: rgb(53, 18, 0);
	--footer-text: white;
	--headernav-filter: invert(1);
}
	
/****************/
/* JOUW STYLING */
/****************/

/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#0003ff;
	--caroCarrouselShadeColor:#ddd9;

  position: relative;
	outline:none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 1em; right: 2em;
	bottom: 20px;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: flex-start;
  gap:.4em;
}


/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
	background-color: transparent; /* Verwijdert de achtergrondkleur */
	border: none; /* Zorgt ervoor dat er geen randen zijn */
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  color: var(--pijl-nietactive);
  text-decoration: none;
	font-size: 3em;
  transition: 0.5s;
  margin-bottom: 0.3em;
  
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  color: var(--pijl-active);
}

.caroCarrousel {
	position: relative;
}

.caroCarrousel ul{
	margin-top: -60px;
}

.caroCarrousel h2{
	position: absolute;
	top: 55%; /* Plaatsing bovenin de afbeelding */
	left: 5px;
	color: white; /* Aangepast aan de afbeelding */
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.64px;
	text-align: left;
}


#theme-form {
    display: flex;
    gap: 10px; /* Ruimte tussen de knoppen */
}

.custom-radio input[type="radio"] {
    display: none; /* Verberg de standaard radio buttons */
}

.custom-radio::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    border: .5px solid #8D8D8D; 
    cursor: pointer;
}

/* Kleuren voor de verschillende knoppen */
.custom-radio:nth-child(1)::before {
    background-color: white; /* Zwarte knop */
}

.custom-radio:nth-child(2)::before {
    background-color: black; /* Witte knop */
}

.custom-radio:nth-child(3)::before {
    background-color: orange; /* Oranje knop */
}








body {
    background-color: var(--body-background);
	padding: 0;
	margin: 0;
	font-family:sans-serif
	
}


header nav{
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	z-index: 1;
	
}

header nav ul{
	background-color: var(--nav-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
    position: fixed;
    background-color: var(--nav-background);
    width: 100%;
	padding: 1em;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.hamburgermenu {
	display: flex;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
  }

.extra-items {
	display: flex;
	align-items: center;
	justify-items: end;
  }

header nav ul li:nth-of-type(2){
	padding-left: 2em;
}

header nav ul li svg {
	filter: var(--headernav-filter);
}

header nav ul li img {
	filter: var(--headernav-filter);
}

main{
	padding-top: 5em;
}

h1 { 
	padding-left: 16px;
	color: #cfcece;
	font-size: 20px;
	font-weight: lighter;
}

h2 { 
	padding-left: 16px;
	color: var(--color-kopjes);
}

h3{
	font-family:sans-serif;
	color: var(--color-text);
}

p{
	font-family: Helvetica, sans-serif;
	color: var(--color-text);
}

.tesktje {
	display: flex;
	justify-content: space-between;
}


main ul {
    list-style-type: none;
	padding: 32px 16px;
}

main ul li {
    background-color: var(--body-background);
}

li img {
	display: block;
    width: 100%;
}

/****************/
/* FOOTER STYLING */
/****************/

footer {
	background-color: var(--footer-background);
	color: var(--footer-text);
	padding: 1em;

}

a {
	text-decoration: none;
	color: #fff;

}

footer section ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		list-style-type: none;
		padding: 0;


}

footer section ul li{
	padding: 2em;
	border: 1px solid #c4c5ba;
	

}

footer img{
	width: 343px;
	height: 260px;
	border: 1px solid #c4c5ba;
	margin: 0;
	
}

footer ul{
list-style-type: none;
border: 1px solid #c4c5ba;
margin: -1px;
padding: 2em;

}

footer h3 {
	border: 1px solid #c4c5ba;
	padding: 2em;
	margin: 0;
	color: var(--footer-text);
}

footer p {
	color: var(--footer-text);
}

.inputveld {
	display: flex;
	border: 1px solid #c4c5ba;

}



